* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', serif;
}

.destination {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper-destination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1110px;
    height: 672px;
    margin: 48px 100px 0;
}

.wrapper-content-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1110px;
    align-items: center;
    height: 100%;
    max-height: 792px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-height: 34px;
    text-transform: uppercase;
}

.title span,
.title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: 'Barlow Condensed', serif;
    font-weight: 400;
    height: 100%;
}

.title h2 {
    color: #fff;
    letter-spacing: 4px;
    line-height: normal;
    word-spacing: 1px;
}

.title span {
    color: rgba(122, 122, 122, 0.5);
    font-weight: bold;
    letter-spacing: 4.72px;
}

.body-destination {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    max-height: 734px;
}

.img-explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 480px;
}

.img-explanation div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 480px;
}

.img-explanation img {
    width: 480px;
    height: 480px;
}

.content-explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 468px;
    width: 100%;
    max-width: 539px;
}

.content-explanation div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 445px;
    height: 100%;
    max-height: 468px;

}

.content-explanation .menu-destination {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    max-height: 32px;
}

.content-explanation .menu-destination ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.content-explanation .menu-destination ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.content-explanation .menu-destination ul li:hover {
    border-bottom: 3px solid #fff;

}

.content-explanation .menu-destination ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: normal;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.about-name {
    height: 100%;
    max-height: 110px;
    font-size: 96px;
    font-weight: normal;
    color: #fff;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}

.about-text {
    height: auto;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 180%;
    /* border-bottom: 1px solid #979797; */
    word-spacing: 1px;
}

.division-line {
    margin-block: 25px;
}

.division-line,
.division-line img {
    height: 1px;
    width: 100%;
}

.content-explanation div footer {
    display: flex;
    align-items: center;
    height: auto;
}

.content-explanation div footer .distance,
.content-explanation div footer .time {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.content-explanation div footer .descrition-text,
.content-explanation div footer .descrition-number,
.content-explanation div footer .descrition-day {
    display: flex;
    color: #fff;
    height: auto;
    text-transform: uppercase;
}

.content-explanation div footer .descrition-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}

.content-explanation div footer .descrition-number,
.content-explanation div footer .descrition-day {
    font-family: 'Bellefair', serif;
    font-size: 28px;
}

@media screen and (max-width: 1067px) {
    .division-line {
        margin-block: 0px;
    }
}

@media screen and (max-width: 850px) {
    .body-destination {
        gap: 15px;
    }

    .img-explanation div,
    .img-explanation div img {
        width: 400px;
        height: 400px;
    }

    .about-name {
        font-size: 85px;
    }

    .about-text {
        text-align: justify;
    }

    .division-line {
        margin-block: 0px;
    }

    .content-explanation div footer .descrition-number,
    .content-explanation div footer .descrition-day {
        font-size: 25px;
    }

}

@media screen and (max-width: 768px) {
    .destination {
        background-image: url("../../assets/destination/background-destination-tablet.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .wrapper-destination,
    .wrapper-content-destination {
        width: 100%;
        height: 100vh;
    }

    .body-destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1px;
        width: 688px;
        height: 848px;
    }

    .img-explanation,
    .content-explanation {
        width: 100%;
        height: 384px;
    }

    .img-explanation div,
    .img-explanation div img {
        width: 300px;
        height: 300px;
    }

    .content-explanation div {
        width: 100%;
        max-width: 541px;
        height: 361px;
        gap: 0;
    }

    .content-explanation .menu-destination ul {
        align-items: center;
        justify-content: center;
    }

    .about {
        align-items: center;
    }

    .about-name {
        font-size: 80px;
    }

    .about-text {
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
    }

    .content-explanation div footer .distance,
    .content-explanation div footer .time {
        align-items: center;
    }

}

@media screen and (max-width: 470px) {
    .destination {
        background-image: url("../../assets/destination/background-destination-mobile.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .wrapper-destination {
        height: calc(100vh - 96px);
        margin: 96px 24px 0;
    }

    .wrapper-content-destination {
        width: 327px;
        margin: 0 24px;
    }

    .title {
        justify-content: center;
    }

    .title span,
    .title h2 {
        font-size: 16px;

    }

    .img-explanation div,
    .img-explanation div img {
        width: 150px;
        height: 150px;
    }

    .about-name {
        font-size: 56px;
    }

    .about-text {
        font-size: 15px;
    }

    .content-explanation div footer {
        flex-direction: column;
        gap: 24px;
        padding-block: 24px;
    }
}