.crew {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-crew {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
    height: 792px;
    border: 1px solid #fff;
}

.crew-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 273px;
    height: 100%;
    max-height: 34px;
    text-transform: uppercase;
    border: 1px solid red;
}

.crew-title span,
.crew-title p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: 'Barlow Condensed', serif;
    height: 100%;
    border: 1px solid blue;
}

.crew-title span {
    width: 100%;
    max-width: 30px;
    color: rgba(122, 122, 122, 0.5);
    font-weight: bold;
    letter-spacing: 4.72px;
}

.crew-title p {
    color: #fff;
    letter-spacing: 4px;
    line-height: normal;
    word-spacing: 1px;
}

.crew-body-explanation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1110px;
    height: 100%;
    max-height: 734px;
    border: 1px solid purple;
}

.crew-body-explanation-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 539px;
    height: 100%;
    border: 1px solid darkcyan;
}

.crew-body-explanation-left .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 539px;
    height: 100%;
    max-height: 631px;
    border: 1px solid gold;
}

.crew-body-explanation-left .profile .description-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 539px;
    height: 100%;
    max-height: 117px;
    border: 1px solid darkkhaki;
}

.crew-body-explanation-left .profile .description-profile .role {
    font-size: 32PX;
    font-family: 'Bellefair', sans-serif;
    word-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(208,214,249);
}
.crew-body-explanation-left .profile .description-profile .name {
    font-size: 56px;
    font-family: 'Bellefair', sans-serif;
    word-spacing: 1px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.crew-body-explanation-left .profile .bio {
    font-size: 18px;
    line-height: 180%;
    word-spacing: 1px;
    font-family: 'Barlow', serif;
    font-weight: 200;
    letter-spacing: 0px;
    width: 100%;
    max-width: 539px;
    height: 100%;
    max-height: 96px;
    color: #fff;
    border: 1px solid mediumorchid;
}

.crew-body-explanation-left .pagination {
    width: 100%;
    max-width: 539px;
    height: 100%;
    max-height: 63px;
    padding: 0 0 48px 0;
    border: 1px solid violet;
}

.crew-body-explanation-left .pagination ul {
    width: 100%;
    height: 100%;
    max-height: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

}

.crew-body-explanation-left .pagination ul li.small-pagination {
    width: 15px;
    height: 15px;
    background-color: rgb(59, 59, 60);
    border-radius: 50px;
    cursor: pointer;
}

.crew-body-explanation-left .pagination ul li.small-pagination.active {
    background-color: #fff;
}

.crew-body-explanation-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 539px;
    height: 734px;
    border: 1px solid darkcyan;
}

.crew-body-explanation-right img {
    width: 100%;
    max-width: 539px;
    height: 676px;
    border: 1px solid firebrick;

}

.crew-body-explanation-right::before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 539px;
    height: 676px;
    background: transparent;
    background: linear-gradient(0deg, hsl(230, 35%, 7%) 0%, transparent 20%);
}

@media screen and (max-width: 768px) {
    .crew {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/crew/background-crew-tablet.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 375px) {
    .crew {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/crew/background-crew-mobile.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}