.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 343px;
}

.space h6,
.space h1,
.space p {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.space h6 {
    justify-content: start;
    font-size: 28px;
    height: 34px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    word-spacing: 1px;
}

.space h1 {
    justify-content: start;
    height: 100%;
    max-height: 165px;
    font-size: 144px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    word-spacing: 1px;
}

.space p {
    justify-content: start;
    height: 96px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 180%;
    word-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .space {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        max-width: 512px;
        height: 334px;
    }

    .space p,
    .space h6,
    .space h1 {
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .space p {
        font-size: 16px;
        word-spacing: 1px;
        line-height: 180%;
    }
}

@media screen and (max-width: 580px) {
    .space p {
        font-size: 15px;
        width: 100%;
        max-width: 550px;
    }
}



@media screen and (max-width: 470px) {
    .space {
        width: 100%;
        height: 100%;
    }

    .space h6 {
        font-size: 1.8rem;
    }

    .space h1 {
        font-size: 7.5rem;
    }

    .space p {
        font-size: .95rem;
        width: 100%;
        max-width: 320px;
    }
}

@media screen and (max-width: 375px) {
    .space {
        width: 100%;
    }

    .space h6 {
        font-size: .96rem;
    }

    .space h1 {
        font-size: 5.5rem;
    }

    .space p {
        font-size: .79rem;
    }
}