.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    height: 100%;
    gap: 0px;
}

.space h6,
.space h1,
.space p {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.space h6 {
    justify-content: start;
    font-size: 28px;
    max-height: 100%;
    height: 34px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    word-spacing: 1px;
}

.space h1 {
    justify-content: start;
    height: 100%;
    max-height: 165px;
    font-size: 144px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    word-spacing: 1px;
}

.space p {
    justify-content: start;
    height: 100%;
    max-height: 96px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    line-height: 180%;
    word-spacing: 1px;
    word-break: break-all;
}

@media screen and (max-width: 1024px) {
    .space {
        gap: 0px;
    }

    .space p {
        word-spacing: 1px;
        word-break: break-all;
        height: 100%;
        max-height: 130px;
    }
}

@media screen and (max-width: 768px) {
    .space {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        max-width: 512px;
        height: 334px;
    }

    .space p,
    .space h6,
    .space h1 {
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .space h6 {
        font-size: 28px;
        letter-spacing: 4px;
        word-spacing: 1px;
        line-height: normal;
    }

    .space h1 {
        font-size: 144px;
        word-spacing: 1px;
    }

    .space p {
        font-size: 16px;
        word-spacing: 1px;
        line-height: 180%;
    }
}

@media screen and (max-width: 425px) {
    .space {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        max-width: 600px;
        height: 334px;
    }

    .space p,
    .space h6,
    .space h1 {
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .space h6 {
        font-size: 25px;
        letter-spacing: 4px;
        word-spacing: 1px;
        line-height: normal;
    }

    .space h1 {
        font-size: 120px;
        word-spacing: 1px;
    }

    .space p {
        font-size: 15px;
        word-spacing: 1px;
        line-height: 180%;
    }
}

@media screen and (max-width: 375px) {
    .space {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        max-width: 327px;
        height: 100%;
        max-height: 40%;
    }

    .space h6 {
        width: 100%;
        max-width: 327px;
        /* height: 100%; */
        max-height: 19x;
        font-size: 16px;
        letter-spacing: 15%;
        word-spacing: 1px;
        line-height: normal;
    }

    .space h1 {
        font-size: 80px;
        word-spacing: 1px;
        width: 100%;
        max-width: 327px;
        height: 100%;
        max-height: 92px;
    }

    .space p {
        width: 100%;
        max-width: 327px;
        height: 100%;
        max-height: 135px;
        font-size: 15px;
        word-spacing: 1px;
    }
}